<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.BeoMeoStudio.RollingSnow">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>

    <application>
        <!-- AdMob App ID -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8502618733998421~6880698492"/>
    </application>

</manifest>
